.hidden{
    display : none;
}

.card-body{
    text-align : center;
}

.card-body:hover .hidden{
    display: block;
}

.card{
    border-color: black;
    border-radius : 3px;
    margin-bottom : 5px;
    margin-left : 5px;
    width : 22rem;
}

.form-group{
    margin-left : 5px;
}

/* .form-control{
    margin-top : 5px;
    margin-bottom: 5px;
    width : 20rem;
    background-color: rgb(243, 226, 205);
} */

.form-buttons{
    margin-top : 10px;
}

.form-section{
    margin-left : 5px;
}

.displayContent{
    margin-top : 100px;
}

.editContent{
    margin-top: 100px;
}