<div id="override-styles">
  <div class="header">
    <h3>Welcome to my contact manager.</h3>
    <a routerLink=""><button class="btn btn-primary">Home</button></a>
    <a routerLink="/contact-list"
      ><button class="btn btn-primary">Contact List</button></a
    >
  </div>

  <div class="dynamic">
    <router-outlet></router-outlet>
  </div>

  <div class="footer">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa est dolorum
      tenetur possimus laudantium, repellendus voluptates eum officia inventore
      hic.
    </p>
  </div>
</div>
