.contactInfo{
    /* border-width : 1px;
    border-style: solid;
    border-radius : 2px;
    border-color : black;
    width: 400px; */
    text-align: center;

}

.tab{
    display : inline-block;
    margin-left : 40px;
}