/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

*{
    background-color: rgb(243, 226, 205);  
}

#override-styles{
    background-color: rgb(243, 226, 205);
}

.color-button-primary{
    margin-left : 10px;
    background-color: grey;
    border-color : grey;
}

.color-button-primary:hover{
    background-color : blue;
    border-color : blue;
}

.color-button-danger{
    margin-left : 10px;
    background-color: grey;
    border-color : grey;
}

.color-button-danger:hover{
    background-color : red;
    border-color : red;
}