<div class="greeting">
  <div *ngIf="morningCheck">
    Good Morning. <br />
    The current date/time is: {{ time }}
  </div>
  <div *ngIf="!morningCheck">
    Good Afternoon. <br />
    The current date/time is: {{ time }}
  </div>
</div>
<div class="homeList">
  <h6>Here is a quick list of all your contacts:</h6>
  <ul>
    <div *ngFor="let contact of topContacts">
      <li>
        {{ contact.firstName }} {{ contact.lastName }} <br />
        Phone Number: {{ contact.phoneNumber }}
      </li>
    </div>
  </ul>
</div>
<div class="homeContent">
  <p>
    For more information or editing privileges, please head over to the contact
    list page specified at the top.
  </p>
</div>
